<div class="card-wrapper">
  <div class="card-header">
    <p class="main-title">Primeiro passo</p>
    <span class="material-symbols-outlined">
      flag
    </span>
  </div>
  <div class="card-content">
    <div>
      <h1>Transforme a sua marca com os nossos sites</h1>
      <p>
        Ofereça uma experiência única para seus clientes através de nossos sites
        personalizados.
      </p>
    </div>
  </div>
  <div class="card-action">
    <button>Entre em contato</button>
  </div>
</div>
