.container {
  height: 100%;
  width: 100%;
  perspective: 3200px;
  position: relative;
  aspect-ratio: 1;
  transition: all 0.4s ease-in-out;

  .front.is-flipped {
    transform: rotateY(0deg);
  }

  .back.is-flipped {
    transform: rotateY(0deg);
  }

  .front,
  .back {
    position: absolute;
    transition: all 0.4s ease-in-out;
  }

  .front {
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    transition: all 0.4s ease-in-out;
  }

  .back {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 425px) {
      // gap: 30px;
      .front,
      .back, .container, .card-wrapper {
        position: unset;
      }
    }

    height: 100%;
    border: 2px solid var(--color-primary);
    border-radius: 25px;
    padding: 20px;
    background-color: var(--color-black);

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .main-title {
        color: var(--color-primary);
        font-weight: 200;
      }

      span {
        font-size: 4rem;
        color: var(--color-primary);
      }
    }

    .card-content {
      h1 {
        line-height: 5rem;
        letter-spacing: -0.1rem;
        margin-bottom: 10px;
        font-size: 6rem;
        font-weight: 900;

        @media (max-width: 425px) {
          font-size: 5rem;
          line-height: 4rem;
        }
      }

      div p {
        font-size: 1.6rem;
        font-weight: 200;
        line-height: 1.8rem;
      }

      input,
      textarea {
        border: 2px solid var(--color-primary);
        width: 100%;
        margin-bottom: 10px;
        border-radius: 8px;
        padding: 10px;
        background-color: var(--color-dark-gray);
        resize: none;
        outline: none;
        color: var(--color-primary);
        font-weight: bold;
      }
    }

    .card-action {
      display: flex;
      justify-content: flex-end;
    }
  }
}
