.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 425px) {
    gap: 30px;
  }
  
  height: 100%;
  border: 2px solid var(--color-primary);
  border-radius: 25px;
  padding: 20px;
  background-color: var(--color-black);

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-title {
      color: var(--color-primary);
      font-weight: 200;
    }

    span {
      font-size: 4rem;
      color: var(--color-primary);
    }
  }

  .card-content {
    h1 {
      line-height: 5rem;
      letter-spacing: -0.1rem;
      margin-bottom: 10px;
      font-size: 6rem;
      font-weight: 900;

      @media (max-width: 425px) {
        font-size: 5rem;
        line-height: 4rem;
      }
    }

    div p {
      font-size: 1.6rem;
      font-weight: 200;
      line-height: 1.8rem;
    }
  }

  .card-action {
    display: flex;
    justify-content: flex-end;
  }
}
