<div class="card-wrapper">
  <div class="card-header">
    <h1 class="title">Rota de sucesso</h1>
    <span class="material-symbols-outlined" style="color: var(--color-primary)">
      mountain_flag
    </span>
  </div>
  <div class="card-text">
    <p>
      Conheça nosso processo e como levamos a sua marca para o próximo nível.
    </p>
  </div>
  <div class="card-content">
    <div class="progress-content">
      <span
        class="material-symbols-outlined"
        style="color: var(--color-light-gray)"
        >looks_one</span
      >
      <span
        class="material-symbols-outlined"
        style="color: var(--color-light-gray)"
      >
        arrow_right_alt
      </span>
      <span
        class="material-symbols-outlined"
        style="color: var(--color-light-gray)"
        >looks_two</span
      >
      <span
        class="material-symbols-outlined"
        style="color: var(--color-light-gray)"
      >
        arrow_right_alt
      </span>
      <span
        class="material-symbols-outlined"
        style="color: var(--color-light-gray)"
        >looks_3</span
      >
      <span
        class="material-symbols-outlined"
        style="color: var(--color-light-gray)"
      >
        arrow_right_alt
      </span>
      <span
        class="material-symbols-outlined"
        style="color: var(--color-light-gray)"
        >looks_4</span
      >
      <span
        class="material-symbols-outlined"
        style="color: var(--color-light-gray)"
      >
        arrow_right_alt
      </span>
      <span
        class="material-symbols-outlined"
        style="color: var(--color-primary)"
      >
        trophy
      </span>
    </div>
  </div>
  <div class="card-action">
    <button>Conhecer</button>
  </div>
</div>
