.card-wrapper {
  border: 2px solid var(--color-primary);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 3px solid var(--color-light-gray);
  border-radius: 25px;
  padding: 20px;
  background-color: var(--color-black);

  .card-header {
    display: flex;
    justify-content: space-between;
    
    p {
      font-size: 3rem;
    }

    span {
      font-size: 4rem;
      color: var(--color-primary);
    }
  }

  .card-content {
    h1 {
      line-height: 5rem;
      letter-spacing: -0.1rem;
      margin-bottom: 10px;
      font-size: 6rem;
      font-weight: 900;
    } 
    
    div p {
      font-size: 2rem;
      font-weight: 200;
    }
  }

  .card-action {
    display: flex;
    justify-content: flex-end;
  }

  .main-title {
    color: var(--color-primary);
    font-weight: 200;
    
  }

  .title {
    color: var(--color-primary);
    font-weight: 900;
  }
}
