<nav>
  <img src="images/logo.svg" width="50px" height="50px" />
  <h1>Code Comb</h1>
</nav>
<div class="container">
  <div id="main-card">
    <app-card-main (showFormOnMainCard)="showForm()" [isFormVisible]="isFormVisible"></app-card-main>
  </div>
  <div id="progress-card">
    <app-card-success-route></app-card-success-route>
  </div>
  <div id="about-card">
    <app-card-about></app-card-about>
  </div>
  <div id="contact-card">
    <app-card-contact (showFormOnMainCard)="showForm()"></app-card-contact>
  </div>
</div>
