nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;

  h1 {
    font-weight: 900;
    color: var(--color-primary);
  }

 @media (max-width: 425px) {
  justify-content: center;
 }
}

.container {
  width: 100%;
  height: 80vh;
  padding: 100px 300px;
  display: grid;
  grid-template-areas:
  "main-card progress-card progress-card"
  "main-card about-card contact-card";
  gap: 20px;

  @media (max-width: 1366px) {
    padding: 30px 100px;
  }

  @media (max-width: 425px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: unset;
    height: unset;
    grid-template-areas: unset;

    padding: 10px 20px;
  }

  #main-card {
    grid-area: main-card;
    height: 100%;
  }
  #progress-card {
    grid-area: progress-card;
  }
  #about-card {
    grid-area: about-card;
  }
  #contact-card {
    grid-area: contact-card;
  }
}
