<div class="card-wrapper">
  <div class="card-header">
    <h1 class="title">Contato</h1>
    <span class="material-symbols-outlined"> call </span>
  </div>
  <div class="card-content">
    <p>Aqui você encontra todas formas de comunicação da CodeComb.</p>
  </div>
  <div class="card-action">
    <div>
      <i class="bx bxl-instagram"></i
      ><a href="https://www.instagram.com/code_comb/" target="_blank"
        >Nos siga no Instagram</a
      >
    </div>
    <div>
      <i class="bx bxl-linkedin"></i
      ><a href="https://www.linkedin.com/company/code-comb/about/" target="_blank">Nos siga no LinkediIn</a>
    </div>
    <div>
      <i class="bx bxl-whatsapp"></i
      ><a
        href="https://wa.me/5511977747335/?text=Ola%20tudo%20bem?%20Gostaria%20de%20conhecer%20mais%20sobre%20a%20Code%20Comb."
        target="_blank"
        >Vamos falar sobre sua empresa.</a
      >
    </div>
    <div>
      <i class="bx bx-calendar"></i
      ><a
        href="https://calendly.com/stevenfaria-gusmao/primeiro-passo"
        target="_blank"
        >Agende uma reunião comigo.</a
      >
    </div>
  </div>
</div>
