.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  @media (max-width: 425px) {
    gap: 30px;
  }
  
  height: 100%;
  border: 2px solid var(--color-dark-gray);
  border-radius: 25px;
  padding: 20px;
  background-color: var(--color-black);

  &:checked {
    flex-grow: 10000;
    width: 800px;
    transition: all 0.9s ease-in-out;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 3rem;
      color: var(--color-primary);
      font-weight: 900;
    }

    span {
      font-size: 4rem;
      color: var(--color-primary);
    }
  }

  .card-content {
    p {
      font-size: 1.6rem;
      font-weight: 200;
      line-height: 1.8rem;
    }
  }

  .card-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;

    div {
      display: flex;
      align-items: center;
      color: var(--color-primary);
      gap: 5px;

      i {
        font-size: 3rem;
      }
      a {
        font-size: 1.4rem;
        color: var(--color-light-gray);
        text-decoration-thickness: 1px;
      }
    }
  }
}
